.aside-nav {
	border-right: 1px solid gray;
	width: max-content;
	height: 92vh;
	/* z-index: 2; */
	position: fixed;
    margin-top: 8vh;
        color: var(--text);
	overflow-y: auto;
}
.txt-mid{
    text-align: center;
}
.aside-icon{
    width: 100% !important;
}
.aside-items li {
	padding: 1rem;
    align-items: center;
}

.aside-nav .flex-center {
	gap: 0;
}

.aside-items {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1024px) {
	.aside-nav {
		bottom: 0;
		height: min-content;
		width: 100%;
		top: auto;
		position: fixed;
		box-shadow: 0 -5px 5px -5px #333;
		z-index: 3;
		background-color: var(--primary-black);
		border-right: none;
	}
	.aside-items {
		flex-direction: row;
		justify-content: space-around;
	}
	.aside-items li {
		list-style: none;
		padding: 1rem 0rem;
		font-size: 0.9rem;
	}
}
