.thumbnail-img{
    height: 100%;
    width: 100%;
    object-position: center;
}
.card{
    position: relative;
}
.card:hover{
    box-shadow: rgb(43, 43, 43) 0px 2px 8px 0px;
}
.creator-avatar{
    margin: 0.25rem ;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.card-description{
 
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.video-title{
    font-size: 0.8rem;
}
.video-subheading{
    font-size: small;
}
.vid-creator-name{
    display: block;
    margin-top: 0.25rem;
    font-size: small;
}

.menu-list{

    position: absolute;

    top: 25%;
    left: 20%;
   
    width: auto;
    text-align: center;
    background-color: var(--primary-black) ;
    color: white;
    border: 1px solid var(--selected);
    
  }
  .mobile-menu-list{
   
    list-style: none;
  }
  .mobile-menu-list li{
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
   
  }
  .mobile-menu-list li:hover{
      background-color: var(--selected);
  }